* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body {
    width: 100%;
    background-color: #fff;
    color: #6dc5ef;
}

a {
    text-decoration: none;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-areas: 
        "upleft main"
        "left main";
    grid-template-columns: 10% auto;
    grid-template-rows: 60px auto;
    
}

.upper-left, .sidebar {
    color: #6dc5ef;
    font-size: 1em;
    background-color:#2d2d2d;
}

.upper-left {
    grid-area: upleft;
    display: grid;
    place-items: center;
}

.upper-left span{
    margin-top: 10px;
}

#abconsole{
    height: 50px;
}

#abcdesktop{
    display: none;
}

.upper-left hr {
    color: #fff;
    width: 100%;
    margin: 0 0;
}

.sidebar {
    grid-area: left;
    display: block;
}

.sidebar i{
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar a:hover, #collapseBanSubMenu .collapse-item:hover{
    color: #47a8d6;
}

.tooltip{
    visibility: hidden;
}

#collapseBanSubMenu{
    margin: 0 0.5rem;
}

#collapseBanSubMenu div{
    padding: 0 0.5rem;
    background-color: #2d2d2d;
}

#collapseBanSubMenu .collapse-item{
    display: block;
    color: #6dc5ef;
}

.closed::before {
    transition-duration: 0.5s;
    transform: rotate(-90deg);
}

.bi-chevron-down::before {
    transition-duration: 0.5s;
}

/* #sidebarToggle{
    display: none;
} */

.content {
    grid-area: main;
    margin-left: 10px;
    margin-right: 10px;
}

#usersContent{
    display: flex;
    gap: 20px;
}

.section-title {
    color: #6dc5ef;
    font-size: 1.5em;
    position: absolute;
    left: 40vw;
    white-space: nowrap;
}

.table-container .bootstrap-table {
    width: 88vw;
    white-space: nowrap; 
}

#usersContent .table-container .bootstrap-table {
    width: 17vw;
}

#usersContent .table-container .fixed-table-toolbar {
    display: flex;
    gap: 5px
}

#usersContent .bootstrap-table {
    width: 69vw;
}

.page-list, .float-right {
    display: inline-block!important;
}

/* overwriting bootstrap page-link */
.page-link{
    color: #6dc5ef;
}

.active>.page-link{
    color: #fff;
    background-color: #6dc5ef;
    border-color: #6dc5ef;
}

#showInfosAccordion {
    width: 88vw;
}

#genInfosTableContainer {
    margin-bottom: 10px;
}

#genInfosTableContainer .fixed-table-toolbar{
    display: none;
}

.operate-icons-container {
    display: flex;
    justify-content: center;
    gap: 3vh;
    font-size: 1.5em;
}

.toolbar-buttons {
    display: flex;
    gap: 20px;
}

/*overwritting bootstrap btn-primary attributes*/
.btn-primary{
    --bs-btn-bg: #6dc5ef;
    --bs-btn-border-color: #6dc5ef;
    --bs-btn-hover-bg: #47a8d6;
    --bs-btn-hover-border-color: #47a8d6;
    --bs-btn-active-bg: #318cb7;
    --bs-btn-active-border-color: #318cb7;
    --bs-btn-disabled-bg: #6dc5ef;
    --bs-btn-disabled-border-color: #6dc5ef;
}

/*overwritting bootstrap btn-light attributes*/
.btn-light{
    --bs-btn-border-color: #2d2d2d;
    --bs-btn-hover-border-color: #2d2d2d;
    --bs-btn-active-border-color: #2d2d2d;
    --bs-btn-disabled-border-color: #2d2d2d;
}

.toast-body i {
    margin-right: 5px;
}

.toast-body span{
    color: white;
}

.nav-tabs .nav-link{
    color: #6dc5ef;
}

.modal-content {
    color: black;
}

.add-app-modal-footer {
    display: flex;
    justify-content: end;
    gap: 10px;    
    margin-top: 10px;
}

#profileInfos{
    margin-top: 10px;
}

/* inspired by : https://www.w3schools.com/css/tryit.asp?filename=trycss_form_responsive */
.label-col {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* inspired by : https://www.w3schools.com/css/tryit.asp?filename=trycss_form_responsive */
.input-col {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* source : https://jsfiddle.net/unLSJ/ */
pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px; 
}

.json-key {
    color: magenta;
}

.json-value {
    color: navy;
}

.json-string {
    color: green;
}

@media screen and (max-width: 1280px) {
    .menu-text, .section-title, #subMenuChevron, #banMenuButton{
        display: none;
    }

    .tooltip{
        visibility: visible;
    }

    .upper-left, .sidebar{
        text-align: center;
    }

    #abconsole{
        display: none;
    }

    #abcdesktop{
        display: block;
        height: 24px;
        width: 24px;
    }

    .wrapper{
        grid-template-columns: 5% auto;
    }

    .table-container .bootstrap-table {
        width: 93vw;
    }

    .sidebar i{
        font-size: 1.25em;
        margin-left: 0px;
        margin-right: 0px;
    }

    #showInfosAccordion {
        width: 93vw;
    }

    #collapseBanSubMenu div{
        padding: 0rem;
    }
    
}

@media screen and (max-width: 700px) {
    .sidebar i{
        font-size: 1em;
    }

    /* #sidebarToggle{
        display: block;
    }*/
} 

@media screen and (max-width: 500px) {
    .sidebar i{
        font-size: 0.75em;
    }

    #abcdesktop{
        height: 16px;
        width: 16px;
    }
}