* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body {
    width: 100%;
    background-color: #fff;
    color: #6dc5ef;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-areas: 
        "upleft title"
        "left main";
    grid-template-columns: 10% auto;
    grid-template-rows: 60px auto;
    
}

.upper-left, .sidebar {
    color: #6dc5ef;
    font-size: 1em;
    background-color:#2d2d2d;
}

.upper-left {
    grid-area: upleft;
    display: grid;
    place-items: center;
}

.upper-left span{
    margin-top: 10px;
}

.upper-left a {
    text-decoration: none;
}

.upper-left img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.title {
    grid-area: title;
    text-align: center;
    font-size: 3.5em;
}

hr {
    color: #fff;
}

.sidebar {
    grid-area: left;
    display: block;
    justify-items: center;
}

.sidebar i{
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar a:hover{
    color: #47a8d6;
}

.sidebar a:active{
    text-decoration:underline;
}

.content {
    grid-area: main;
    margin-left: 10px;
    margin-right: 10px;
}

.content-title {
    color: #6dc5ef;
}

.table-container .bootstrap-table {
    width: 88vw;
}

#genInfosTableContainer {
    margin-bottom: 10px;
}

#genInfosTableContainer .fixed-table-toolbar{
    display: none;
}

.github-link {
    text-decoration: none;
    color: #2d2d2d;
}

.github-link:hover {
    color: #000;
}

.github-link:active {
    text-decoration: underline;
}

.operate-icons-container {
    display: flex;
    justify-content: center;
    gap: 3vh;
    font-size: 1.5em;
}

.toolbar-buttons {
    display: flex;
    gap: 20px;
}

.toast-body i {
    margin-right: 5px;
}

.toast-body span{
    color: white;
}

.modal-content {
    color: black;
}

/* inspired by : https://www.w3schools.com/css/tryit.asp?filename=trycss_form_responsive */
.label-col {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* inspired by : https://www.w3schools.com/css/tryit.asp?filename=trycss_form_responsive */
.input-col {
    float: left;
    width: 75%;
    margin-top: 6px;
}

@media screen and (max-width: 1280px) {
    .menu-text{
        display: none;
    }

    .upper-left, .sidebar{
        text-align: center;
    }

    .upper-left img{
        margin-right: 0px;
    }

    .wrapper{
        grid-template-columns: 5% auto;
    }

    .table-container .bootstrap-table {
        width: 93vw;
    }

    .sidebar i{
        font-size: 1.25em;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .sidebar i{
        font-size: 1.25em;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 700px) {
    .sidebar i{
        font-size: 1em;
        margin-left: 0px;
        margin-right: 0px;
    }

    .title {
        font-size: 2em;
    }
}

@media screen and (max-width: 500px) {
    .sidebar i{
        font-size: 0.75em;
        margin-left: 0px;
        margin-right: 0px;
    }

    .title {
        font-size: 1.5em;
    }

    .upper-left img{
        height: 16px;
        width: 16px;
    }
}